@import "../../styles/colors";

:host {
    display: block;
    height: 100dvh;
    padding: 15px;
    box-sizing: border-box;
    background-color: $color-blue;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10%;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    border: 3px solid $color-orange;
    border-radius: 5px;
    background-color: white;

    .button-group {
        display: inline-flex;
        gap: 15px;

        .app-button {
            min-width: 100px;
            font-size: 1.5rem;
            padding: 9px;
        }
    }
}
