<div class="content">
  <span data-test-id="game-name">
    Parece que hay una partida
    @if (gameService.hasFlagActive('resumeGame:gameName')) {
      de <strong>{{gameService.gameName.toLocaleLowerCase()}}</strong>
    }
    en marcha.
  </span>

  <strong>¿Quieres continuarla?</strong>

  <div class="button-group">
    <button class="app-button" data-test-id="btn-do-not-resume-game" (click)="doNotResumeGame()">No</button>
    <button class="app-button" data-test-id="btn-resume-game" (click)="resumeGame()">Sí</button>
  </div>
</div>