<app-round-info></app-round-info>

<div class="content">
  <div class="player-container" data-test-id="player-container" *ngFor="let playerInfo of playersInfo; let i = index"
    (click)="changeScoreOf(i)">
    <div class="header">
      <span *ngIf="i % 2 !== 0" data-test-id="score">({{playerInfo.score}})</span>

      <span class="name" data-test-id="player-name">{{playerInfo.name}}</span>

      <span *ngIf="i % 2 === 0" data-test-id="score">({{playerInfo.score}})</span>
    </div>

    <div *ngFor="let stripeNumber of arrayOf(playerInfo.score);" data-test-id="stripe" [ngClass]="{
        stripe: true,
         'stripe--delete-1': playerInfo.deletePointProgress === 1,
          'stripe--delete-2': playerInfo.deletePointProgress === 2,
           'stripe--delete-3': playerInfo.deletePointProgress === 3,
           'stripe--delete-4': playerInfo.deletePointProgress === 4,
           }">
      <div *ngIf="stripeNumber % BULLET_INTERVAL === 0" class="bullet" data-test-id="bullet">{{stripeNumber}}</div>
    </div>
  </div>
</div>

<div *ngIf="showDeleteBanner" class="delete-banner" data-test-id="delete-banner">
  <span class="text">
    Pulsa un cuadrante múltiples veces para eliminar un punto
  </span>
  <span class="close-button" (click)="closeDeleteBanner()" data-test-id="close-button"></span>
</div>

<app-bottom-controls></app-bottom-controls>