<app-round-info></app-round-info>

<div class="content">
  <svg *ngFor="let pairName of pairNames; let pair = index" class="svg-pair"
    [attr.viewBox]="getViewBoxForSvgPair(pair)">

    <!-- left player name and score -->
    <text x="25" y="8" text-anchor="middle" class="name-score">
      {{pairName[0]}} ({{pairScores[pair][0]}})
    </text>

    <!-- right score and player name -->
    <text *ngIf="pairName[1]" x="75" y="8" text-anchor="middle" class="name-score">
      ({{pairScores[pair][1]}}) {{pairName[1]}}
    </text>

    <!-- left stripe scores -->
    <ng-container *ngFor="let stripePath of svgPairStripes[pair][0]; let stripeIndex = index;">
      <path class="stripe" [attr.d]="stripePath" />

      <!-- bullet -->
      <ng-container *ngIf="(stripeIndex + 1) % BULLET_INTERVAL === 0">
        <circle [attr.cx]="svgBulletPairs[pair][0][((stripeIndex+1) / BULLET_INTERVAL) - 1][0]"
          [attr.cy]="svgBulletPairs[pair][0][((stripeIndex+1) / BULLET_INTERVAL) - 1][1]" r="2.3" class="bullet">
        </circle>

        <text [attr.x]="svgBulletPairs[pair][0][((stripeIndex+1) / BULLET_INTERVAL) - 1][0]"
          [attr.y]="svgBulletPairs[pair][0][((stripeIndex+1) / BULLET_INTERVAL) - 1][1] + 1" text-anchor="middle"
          class="bullet-score">
          {{stripeIndex + 1}}
        </text>
      </ng-container>
    </ng-container>

    <!-- right stripe scores -->
    <ng-container *ngIf="pairName[1]">
      <ng-container *ngFor="let stripePath of svgPairStripes[pair][1]; let stripeIndex = index;">
        <path class="stripe" [attr.d]="stripePath" />

        <!-- bullet -->
        <ng-container *ngIf="(stripeIndex + 1) % BULLET_INTERVAL === 0">
          <circle [attr.cx]="svgBulletPairs[pair][1][((stripeIndex+1) / BULLET_INTERVAL) - 1][0]"
            [attr.cy]="svgBulletPairs[pair][1][((stripeIndex+1) / BULLET_INTERVAL) - 1][1]" r="2.3" class="bullet">
          </circle>

          <text [attr.x]="svgBulletPairs[pair][1][((stripeIndex+1) / BULLET_INTERVAL) - 1][0]"
            [attr.y]="svgBulletPairs[pair][1][((stripeIndex+1) / BULLET_INTERVAL) - 1][1] + 1" text-anchor="middle"
            class="bullet-score">
            {{stripeIndex + 1}}
          </text>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- horizontal separator header -->
    <line x1="0" [attr.y1]="HORIZONTAL_SEPARATOR_HEIGHT" [attr.x2]="pairName[1] ? 100 : 50"
      [attr.y2]="HORIZONTAL_SEPARATOR_HEIGHT" class="separator"></line>

    <!-- vertical separator stripes -->
    <line x1="50" y1="0" x2="50" [attr.y2]="svgHeight" class="separator"></line>
  </svg>
</div>

<div *ngIf="showDeleteBanner" class="delete-banner">
  <span class="text">Pulsa una línea múltiples veces para eliminarla.</span>
  <span class="close-button" (click)="closeDeleteBanner()"></span>
</div>

<app-bottom-controls></app-bottom-controls>