<ng-container *ngIf="!isEdition">
  <label>Juego</label>

  <app-select [formControl]="selectedGameServiceFormControl">
    <span data-test-id="select-game-name">{{selectedGameService.gameName}}</span>

    <app-select-option *ngFor="let gameService of gameServices" [value]="gameService"
      [attr.data-test-id]="'game-name-option-'+gameService.gameName">
      {{gameService.gameName}}
    </app-select-option>
  </app-select>
</ng-container>

<ng-container *ngIf="selectedGameService.hasFlagActive('gameConfig:numberOfCards')">
  <label>Cartas</label>

  <app-input-number-scroller [formControl]="selectedGameService.numberOfCardsFormControl"
    data-test-id="selected-number-of-cards">
  </app-input-number-scroller>
</ng-container>

<ng-container *ngIf="selectedGameService.hasFlagActive('gameConfig:limitScore')">
  <label>Límite</label>

  <!-- TODO make numberOfScrollers part of flag limitScore -->
  <app-input-number-scroller [formControl]="selectedGameService.limitScoreFormControl" [numberOfScrollers]="3"
    data-test-id="selected-limit-score">
  </app-input-number-scroller>
</ng-container>

<ng-container *ngIf="selectedGameService.hasFlagActive('gameConfig:winner')">
  <label>Ganador</label>

  <app-radio-button-group [formControl]="selectedGameService.winnerFormControl">
    <app-radio-button [value]="'highestScore'" data-test-id="option-winner-highest-score">
      Quien más puntos tiene
    </app-radio-button>
    <app-radio-button [value]="'lowestScore'" data-test-id="option-winner-lowest-score">
      Quien menos puntos tiene
    </app-radio-button>
  </app-radio-button-group>
</ng-container>

<ng-container *ngIf="selectedGameService.hasFlagActive('gameConfig:modality')">
  <label>Modalidad</label>

  <app-radio-button-group [formControl]="selectedGameService.modalityFormControl">
    <app-radio-button [value]="'individual'">Juego individual</app-radio-button>
    <app-radio-button [value]="'teams'">Juego por equipos</app-radio-button>
  </app-radio-button-group>
</ng-container>

<app-enter-player-names *ngFor="let teamControl of selectedGameService.teamControls.controls; let i = index"
  [allowEditTeamName]="selectedGameService.allowEditTeamName[i]" [formControl]="teamControl">
</app-enter-player-names>

<div class="button-group">
  <button class="app-button" *ngIf="!isEdition" (click)="startGame()"
    [disabled]="!selectedGameService.isGameConfigCorrect()" data-test-id="btn-start">
    Empezar
  </button>

  <button class="app-button" *ngIf="isEdition" (click)="editConfigCurrentGame()"
    [disabled]="!selectedGameService.isGameConfigCorrect()" data-test-id="btn-go-back">
    Volver
  </button>
</div>