<div class="game-name" *ngIf="!isEdition">
  <label>Juego</label>

  <div class="select" [ngClass]="{open: selectGameNameDropDownOpen}"
    (click)="selectGameNameDropDownOpen = !selectGameNameDropDownOpen">
    {{gameHolderService.service.gameName}}
  </div>

  <div class="options" *ngIf="selectGameNameDropDownOpen">
    <div *ngFor="let gameService of gameServices" (click)="onSelectGameName(gameService)">
      {{gameService.gameName}}
    </div>
  </div>
</div>

<div class="number-of-cards" *ngIf="gameHolderService.service.showNumberOfCardsConfig">
  <label>Cartas</label>

  <div #numberOfCards class="input-number" (scroll)="calculateNumberOfSelectedCards()">
    <span (click)="setNumberOfCards = getNumberOfCards - 2">{{getNumberOfCards - 2}}</span>
    <span (click)="setNumberOfCards = getNumberOfCards - 1">{{getNumberOfCards - 1}}</span>
    <span class="selected">{{getNumberOfCards}}</span>
    <span (click)="setNumberOfCards = getNumberOfCards + 1">{{getNumberOfCards + 1}}</span>
    <span (click)="setNumberOfCards = getNumberOfCards + 2">{{getNumberOfCards + 2}}</span>
  </div>
</div>

<div class="limit-score" *ngIf="gameHolderService.service.showLimitScoreConfig">
  <label>Límite</label>

  <div #limitScore class="input-number" (scroll)="calculateLimitScore()">
    <span (click)="setLimitScore = getLimitScore - 2">{{getLimitScore - 2}}</span>
    <span (click)="setLimitScore = getLimitScore - 1">{{getLimitScore - 1}}</span>
    <span class="selected">{{getLimitScore}}</span>
    <span (click)="setLimitScore = getLimitScore + 1">{{getLimitScore + 1}}</span>
    <span (click)="setLimitScore = getLimitScore + 2">{{getLimitScore + 2}}</span>
  </div>
</div>

<div class="winner" *ngIf="gameHolderService.service.showWinnerConfig">
  <label>Ganador</label>

  <div class="radio-element" (click)="setWinnerConfigHighestScore()">
    <span class="radio-button" [ngClass]="{selected: gameHolderService.service.winner === 'highestScore'}"></span>
    Quien más puntos tiene
  </div>

  <div class="radio-element" (click)="setWinnerConfigLowestScore()">
    <span class="radio-button" [ngClass]="{selected: gameHolderService.service.winner === 'lowestScore'}"></span>
    Quien menos puntos tiene
  </div>
</div>

<div class="players">
  <label>Jugadores <span class="add-player-button" (click)="addPlayer()"></span></label>

  <ul cdkDropList (cdkDropListDropped)="onReorderingPlayer($event)" class="players-list">
    <li cdkDrag cdkDragPreviewContainer="parent" class="player-item"
      *ngFor="let player of playerNames; let i = index; trackBy: trackByPlayerIndex">

      <div *cdkDragPlaceholder></div>

      <span class="player-id" cdkDragHandle>{{i + 1}}. </span>

      <input class="input" #playerInput type="text" [(ngModel)]="playerNames[i]">

      <svg appDealCardsSvg viewBox="0 0 1000 1000" (click)="dealingPlayerIndex = i" class="deal-cards-icon"
        [ngClass]="{'deal-cards-icon--active': dealingPlayerIndex === i}"></svg>

      <span class="delete-icon" (click)="deletePlayer(i)" *ngIf="this.playerNames.length > 1"></span>
    </li>
  </ul>
</div>

<div class="button-group">
  <button class="app-button" *ngIf="!isEdition" (click)="startGame()" [disabled]="startButtonDisabled">Empezar</button>
  <button class="app-button" *ngIf="isEdition" (click)="editConfigCurrentGame()">Volver</button>
</div>