@use "../../styles/colors";

:host {
    height: 100dvh;
    box-sizing: border-box;
    max-width: 350px;
    margin: 0 auto;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
}

app-enter-player-names,
label {
    color: colors.$color-orange;
    margin-top: 20px;
    display: block;
}

app-select-option:not(:last-child) {
    border-bottom: 1px solid black;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    bottom: 0;
    padding: 20px;
    background-color: white;

    .app-button {
        padding: 5px 9px;
    }
}
