@if (!isEdition) {
  <label>Juego</label>
  <app-select [formControl]="selectedGameServiceFormControl">
    <span data-test-id="select-game-name">{{selectedGameService.gameName}}</span>
    @for (gameService of gameServices; track gameService) {
      <app-select-option [value]="gameService"
        [attr.data-test-id]="'game-name-option-'+gameService.gameName">
        {{gameService.gameName}}
      </app-select-option>
    }
  </app-select>
}

@if (selectedGameService.hasFlagActive('gameConfig:numberOfCards')) {
  <label>Cartas</label>
  <app-input-number-scroller [formControl]="selectedGameService.numberOfCardsFormControl"
    data-test-id="selected-number-of-cards">
  </app-input-number-scroller>
}

@if (selectedGameService.hasFlagActive('gameConfig:limitScore')) {
  <label>Límite</label>
  <app-input-number-scroller [formControl]="selectedGameService.limitScoreFormControl"
    [numberOfScrollers]="selectedGameService.numberOfScrollers" data-test-id="selected-limit-score">
  </app-input-number-scroller>
}

@if (selectedGameService.hasFlagActive('gameConfig:winner')) {
  <label>Ganador</label>
  <app-radio-button-group [formControl]="selectedGameService.winnerFormControl">
    <app-radio-button [value]="'highestScore'" data-test-id="option-winner-highest-score">
      Quien más puntos tiene
    </app-radio-button>
    <app-radio-button [value]="'lowestScore'" data-test-id="option-winner-lowest-score">
      Quien menos puntos tiene
    </app-radio-button>
  </app-radio-button-group>
}

@if (selectedGameService.hasFlagActive('gameConfig:modality')) {
  <label>Modalidad</label>
  <app-radio-button-group [formControl]="selectedGameService.modalityFormControl">
    <app-radio-button [value]="'individual'" data-test-id="option-modality-individual">
      Juego individual
    </app-radio-button>
    <app-radio-button [value]="'teams'" data-test-id="option-modality-teams">
      Juego por equipos
    </app-radio-button>
  </app-radio-button-group>
}

@if (selectedGameService.hasFlagActive('gameConfig:players')) {
  @for (teamControl of selectedGameService.teamControls.controls; track teamControl; let i = $index) {
    <app-enter-player-names
      [allowEditTeamName]="selectedGameService.allowEditTeamName[i]" [formControl]="teamControl"
      [attr.data-test-id]="'team-'+i">
    </app-enter-player-names>
  }
}

<div class="button-group">
  @if (!isEdition) {
    <button class="app-button" (click)="startGame()"
      [disabled]="selectedGameService.hasFlagActive('gameConfig:validation') && !selectedGameService.isGameConfigCorrect()" data-test-id="btn-start">
      Empezar
    </button>
  }

  @if (isEdition) {
    <button class="app-button" (click)="editConfigCurrentGame()"
      [disabled]="selectedGameService.hasFlagActive('gameConfig:validation') && !selectedGameService.isGameConfigCorrect()" data-test-id="btn-go-back">
      Volver
    </button>
  }
</div>