@use "../../../styles/colors";

:host {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.disabled {
    color: colors.$color-text-disabled;
  }

  span {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid colors.$color-orange;
    border-radius: 50%;
    margin-right: 10px;

    &.disabled {
      border-color: colors.$color-background-disabled;
    }
  }

  span.selected:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: colors.$color-orange;
  }

  span.selected.disabled:after {
    background-color: colors.$color-background-disabled;
  }
}
