<svg class="graph" #graph (mousedown)="onClickToShowPlayersPanelInfo($event)" [attr.viewBox]="viewBox">
    <!-- round markers -->
    <g class="round-markers">
        <ng-container *ngFor="let roundMark of svgRoundMarkers">
            <text [attr.x]="roundMark.text.x" [attr.y]="roundMark.text.y">{{roundMark.value}}</text>
            <line [attr.x1]="roundMark.line.x1" [attr.y1]="roundMark.line.y1" [attr.x2]="roundMark.line.x2"
                [attr.y2]="roundMark.line.y2">
            </line>
        </ng-container>
    </g>

    <!-- round panel info line -->
    <line class="round-panel-info-line" *ngIf="showRoundPanel" [attr.x1]="svgSelectedRound.x1"
        [attr.y1]="svgSelectedRound.y1" [attr.x2]="svgSelectedRound.x2" [attr.y2]="svgSelectedRound.y2" />

    <!-- limit score -->
    <g class="limit-score" *ngIf="gameHolderService.service.showSvgLimitScore">
        <line x1="0" [attr.y1]="gameHolderService.service.svgLimitScoreHeight" x2="100%"
            [attr.y2]="gameHolderService.service.svgLimitScoreHeight" />
        <text x="27" [attr.y]="-gameHolderService.service.svgLimitScoreHeight - 2">Límite</text>
    </g>

    <!-- y axis -->
    <line class="axis" x1="0.5" y1="0" x2="0.5" y2="100%" />

    <!-- x axis -->
    <line class="axis" x1="0" [attr.y1]="gameHolderService.service.svgXAxisHeight" x2="100%"
        [attr.y2]="gameHolderService.service.svgXAxisHeight" />

    <!-- player score lines  -->
    <ng-container *ngFor="let line of playerLines; let i = index">
        <path class="line" *ngIf="showPlayerGraphLines[i]" [attr.d]="line" [attr.stroke]="colors[i]" />
    </ng-container>
</svg>

<div class="legend">
    <div *ngFor="let player of gameHolderService.service.players"
        (click)="showPlayerGraphLines[player.id] = !showPlayerGraphLines[player.id]">
        <span class="dot-player" [attr.style]="'background-color: ' + colors[player.id]"></span>
        <span>{{player.name}}</span>
    </div>
</div>

<div class="round-panel-info" *ngIf="showRoundPanel">
    <div class="round-number">
        <span [ngClass]="{'hidden-arrow': selectedRound <= 1}" (click)="showRoundInfo(selectedRound -1)">⬅️</span>
        <strong>Ronda {{ selectedRound }}</strong>
        <span [ngClass]="{'hidden-arrow': selectedRound >= gameHolderService.service.getNextRoundNumber()-1}"
            (click)="showRoundInfo(selectedRound + 1)">➡️</span>
    </div>
    <div class="player-display" *ngFor="let player of roundPanelPlayers">
        <span class="dot-player" [attr.style]="'background-color: ' + colors[player.id]"></span>
        <span class="name" (click)="showPlayerGraphLines[player.id] = !showPlayerGraphLines[player.id]">
            {{player.name}}
        </span>
        <span class="accumulated-score">
            {{gameHolderService.service.getTotalScore(player.id, selectedRound)}}
        </span>
        <span *ngIf="selectedRound > 1">
            <ng-container *ngIf="playerMovements[player.id] > 0">
                ⬆️{{playerMovements[player.id] | toEmoji}}
            </ng-container>
            <ng-container *ngIf="playerMovements[player.id] < 0">
                ⬇️{{playerMovements[player.id] | toEmoji}}
            </ng-container>
        </span>
    </div>
</div>