<svg class="graph" #graph (mousedown)="onClickToShowPlayersPanelInfo($event)" [attr.viewBox]="viewBox"
  data-test-id="graph">
  <!-- round markers -->
  <g class="round-markers">
    @for (roundMark of svgRoundMarkers; track roundMark) {
      <text [attr.x]="roundMark.text.x" [attr.y]="roundMark.text.y">{{roundMark.value}}</text>
      <line [attr.x1]="roundMark.line.x1" [attr.y1]="roundMark.line.y1" [attr.x2]="roundMark.line.x2"
        [attr.y2]="roundMark.line.y2">
      </line>
    }
  </g>

  <!-- round panel info line -->
  @if (showRoundPanel) {
    <line class="round-panel-info-line" [attr.x1]="svgSelectedRound.x1"
      [attr.y1]="svgSelectedRound.y1" [attr.x2]="svgSelectedRound.x2" [attr.y2]="svgSelectedRound.y2" />
  }

  <!-- limit score -->
  @if (gameService.hasFlagActive('statistics:progressGraph:limitScore')) {
    <g class="limit-score">
      <line x1="0" [attr.y1]="gameService.svgLimitScoreHeight" x2="100%"
        [attr.y2]="gameService.svgLimitScoreHeight" />
        <text x="27" [attr.y]="-gameService.svgLimitScoreHeight - 2">Límite</text>
      </g>
    }

    <!-- y axis -->
    <line class="axis" x1="0.5" y1="0" x2="0.5" y2="100%" />

    <!-- x axis -->
    <line class="axis" x1="0" [attr.y1]="gameService.svgXAxisHeight" x2="100%" [attr.y2]="gameService.svgXAxisHeight" />

    <!-- player score lines  -->
    @for (line of playerLines; track line; let i = $index) {
      @if (showPlayerGraphLines[i]) {
        <path class="line" [attr.d]="line" [attr.stroke]="colors[i]" />
      }
    }
  </svg>

  <div class="legend">
    @for (playerName of gameService.playerNames; track playerName; let id = $index) {
      <div class="legend-item"
        (click)="showPlayerGraphLines[id] = !showPlayerGraphLines[id]">
        <span class="dot-player" [attr.style]="'background-color: ' + colors[id]"></span>
        <span>{{playerName}}</span>
      </div>
    }
  </div>

  @if (showRoundPanel) {
    <div class="round-panel-info" data-test-id="round-panel-info">
      <div class="round-number">
        <span [ngClass]="{'hidden-arrow': selectedRound <= 1}" (click)="showRoundInfo(selectedRound - 1)">⬅️</span>
        <strong>Ronda {{ selectedRound }}</strong>
        <span [ngClass]="{'hidden-arrow': selectedRound >= gameService.getNextRoundNumber()-1}"
          (click)="showRoundInfo(selectedRound + 1)">
          ➡️
        </span>
      </div>
      @for (playerId of roundPanelPlayers; track playerId) {
        <div class="player-display">
          <span class="dot-player" [attr.style]="'background-color: ' + colors[playerId]"></span>
          <span class="name" (click)="showPlayerGraphLines[playerId] = !showPlayerGraphLines[playerId]">
            {{gameService.getPlayerName(playerId)}}
          </span>
          <span class="accumulated-score">
            {{gameService.getTotalScore(playerId, selectedRound)}}
          </span>
          @if (selectedRound > 1) {
            <span>
              @if (playerMovements[playerId] > 0) {
                ⬆️{{playerMovements[playerId] | toEmoji}}
              }
              @if (playerMovements[playerId] < 0) {
                ⬇️{{playerMovements[playerId] | toEmoji}}
              }
            </span>
          }
        </div>
      }
    </div>
  }