@import "../../../colors";

:host {
    display: block;
}

.graph {
    width: 100%;
    transform: scale(1, -1);

    .axis {
        stroke-width: 1;
        stroke: black;
    }

    .line {
        fill: none;
        stroke-width: 1.3;
    }

    .round-markers {
        font-size: 0.7rem;
        stroke: #dcdcdccc;

        text {
            transform: scale(1, -1);
            text-anchor: end;
            stroke: none;
            fill: #dcdcdccc;
        }

        line {
            stroke-width: 1.5;
            stroke-dasharray: 5, 5;
        }
    }

    .round-panel-info-line {
        stroke: $color-orange;
        stroke-width: 1;
    }

    .limit-score {
        font-size: 0.55rem;

        text {
            transform: scale(1, -1);
            text-anchor: end;
            stroke: none;
            fill: $color-orange;
        }

        line {
            stroke-width: 1;
            stroke: $color-orange;
        }
    }
}

.legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
    font-size: 0.9rem;
}

.dot-player {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.round-panel-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    padding: 15px;
    background-color: $color-background-panel;
    border: 3px solid $color-orange;
    border-radius: 5px;
    font-size: 0.9rem;

    .round-number {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;

        .hidden-arrow {
            visibility: hidden;
        }
    }

    .player-display {
        display: flex;
        align-items: center;

        .name {
            width: 16ch;
        }

        .accumulated-score {
            width: 10ch;
        }
    }
}
