@use "../../shared/enter-score/enter-score-base";
@use "../../styles/colors";

.content {
    .keyboard {
        button {
            border: 3px solid colors.$color-orange;
            background-color: colors.$color-primary-button-text;

            &:active {
                color: colors.$color-orange;
            }
        }
    }
}
