<div class="content">
  <div class="close-button" (click)="closeEnterScore()"></div>

  <div class="round-container">
    <h1>Ronda {{roundNumber}}</h1>

    <div class="players-animation-container" [@animatePlayer]="currentPlayerIndex">
      <ng-container *ngFor="let player of players; let i = index" class="players-animation-container">
        <div *ngIf="i === currentPlayerIndex" class="player">
          <div>Puntuación para</div>

          <div><strong class="player-name">{{player.name}}</strong></div>

          <span class="score-display">{{player.punctuation}}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="keyboard" (click)="onClickKeyBoard($event)">
    <button class="previous-player" [disabled]="currentPlayerIndex === 0">←</button>
    <button class="next-player">
      <ng-container *ngIf="currentPlayerIndex < players.length - 1">→</ng-container>
      <ng-container *ngIf="currentPlayerIndex === players.length - 1">✔️</ng-container>
    </button>

    <button>1</button>
    <button>2</button>
    <button>3</button>

    <button>4</button>
    <button>5</button>
    <button>6</button>

    <button>7</button>
    <button>8</button>
    <button>9</button>

    <button>±</button>
    <button>0</button>
    <button>⌫</button>
  </div>
</div>