<div class="content">
  <div class="close-button" (click)="closeEnterScore()"></div>

  <div class="round-container">
    <h1>Ronda {{roundNumber}}</h1>

    <div class="players-container" #playersContainer>
      <label *ngFor="let player of players; let i = index">
        Puntuación para <br> <strong class="player-name">{{player.name}}</strong>
        <br>
        <span class="score-display">{{player.punctuation}}</span>
      </label>
    </div>
  </div>

  <div class="keyboard" (click)="onClickKeyBoard($event)">
    <span class="previous-player">←</span>
    <span class="next-player">
      <ng-container *ngIf="currentPlayer < players.length - 1">→</ng-container>
      <ng-container *ngIf="currentPlayer === players.length - 1">✔️</ng-container>
    </span>

    <span>1</span>
    <span>2</span>
    <span>3</span>

    <span>4</span>
    <span>5</span>
    <span>6</span>

    <span>7</span>
    <span>8</span>
    <span>9</span>

    <span>±</span>
    <span>0</span>
    <span>⌫</span>
  </div>
</div>