@import "../../styles/colors";

:host {
  display: block;
  height: 100dvh;
  padding: 15px;
  box-sizing: border-box;
  background-color: $color-blue;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  border: 3px solid $color-orange;
  border-radius: 5px;
  background-color: white;
  position: relative;
  height: 100%;
  box-sizing: border-box;

  .close-button {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: black;
      clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
      );
    }
  }

  .round-container {
    text-align: center;

    .players-animation-container {
      position: relative;
      overflow: hidden;

      .player {
        width: 100%;

        .player-name {
          font-size: 1.4rem;
        }

        .score-display {
          display: inline-block;
          border-bottom: 2px solid black;
          font-size: 1rem;
          margin-top: 15px;
          padding: 0 10px;
        }
      }
    }
  }

  .keyboard {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    button {
      grid-column: span 2;
      min-width: 45px;
      min-height: 35px;
      border-radius: 5px;
      padding: 8px;
      font-size: 1.7rem;
      font-weight: 600;
      cursor: pointer;

      &:active {
        transform: scale(1.08);
      }

      &:disabled {
        background-color: $color-background-disabled;
        color: $color-text-disabled;
        border: none;
      }
    }

    .previous-player,
    .next-player {
      grid-row: 1;
      grid-column: span 3;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .content {
    flex-direction: row;
    align-items: center;

    .close-button {
      left: 25px;
    }

    .round-container {
      width: 50%;
    }

    .keyboard {
      width: 50%;
      height: 100%;
      grid-gap: 5px;

      button {
        padding: 0px;
        font-size: 1.4rem;
        min-height: 20%;
      }
    }
  }
}
