$color-orange: #d17515;
$color-blue: #3333ff;

$color-background-panel: #fbfbff;
$color-background-command-sintax: #f2f2f2;

$color-background-disabled: #d3b18e;
$color-text-disabled: #8f5416;

$color-box-shadow: #cec9c1;

$color-selected: #d1751555;
$color-primary-button-text: #fbf2e2;
