:host {
    display: block;
    background-color: gainsboro;
    padding: 4px;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.4rem;
    border-radius: 5px;
}

span {
    display: inline-block;
    white-space: nowrap;
    padding: 0 10px;
}
