<ng-container *ngIf="gameHolderService.service.hasFlagActive('roundInfo:gameName')">
  <span><strong data-test-id="game-name">{{gameHolderService.service.gameName}}</strong></span>
  <br>
</ng-container>

<ng-container *ngIf="!gameHolderService.service.gameHasFinished()">
  <span data-test-id="next-round-number">
    Ronda: <strong>{{gameHolderService.service.getNextRoundNumber()}}</strong>
  </span>

  <span data-test-id="player-name-that-deals">
    <!-- TODO create flag? -->
    Reparte: <strong>{{gameHolderService.service.getPlayerNameThatDeals()}}</strong>
  </span>

  <span data-test-id="number-of-cards-to-deal-next-round"
    *ngIf="gameHolderService.service.hasFlagActive('roundInfo:numberOfCards')">
    Cartas: <strong>{{gameHolderService.service.getNumberOfCardsToDealNextRound()}}</strong>
  </span>

  <span data-test-id="limit-score" *ngIf="gameHolderService.service.hasFlagActive('roundInfo:limitScore')">
    Límite: <strong>{{gameHolderService.service.limitScore}}</strong>
  </span>
</ng-container>

<span data-test-id="game-has-finished" *ngIf="gameHolderService.service.gameHasFinished()">Fin de la partida</span>