@if (gameService.hasFlagActive('roundInfo:gameName')) {
  <span><strong data-test-id="game-name">{{gameService.gameName}}</strong></span>
  <br>
}

@if (!gameService.gameHasFinished()) {
  <span data-test-id="next-round-number">
    Ronda: <strong>{{gameService.getNextRoundNumber()}}</strong>
  </span>

  @if (gameService.hasFlagActive('roundInfo:dealingPlayer')) {
    <span data-test-id="player-name-that-deals">
      Reparte: <strong>{{gameService.getPlayerNameThatDeals()}}</strong>
    </span>
  }

  @if (gameService.hasFlagActive('roundInfo:numberOfCards')) {
    <span data-test-id="number-of-cards-to-deal-next-round">
      Cartas: <strong>{{gameService.getNumberOfCardsToDealNextRound()}}</strong>
    </span>
  }
  
  @if (gameService.hasFlagActive('roundInfo:limitScore')) {
    <span data-test-id="limit-score">
      Límite: <strong>{{gameService.limitScore}}</strong>
    </span>
  }
}

@if (gameService.gameHasFinished()) {
  <span data-test-id="game-has-finished">Fin de la partida</span>
}
