:host {
    position: fixed;
    inset: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.empty-state {
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    flex-grow: 1;
    overflow: auto;

    table {
        border-spacing: 0;

        th,
        td {
            border: 1px solid black;
            white-space: nowrap;
        }

        th {
            padding: 3px 20px;
        }

        .score {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 5px;
            padding: 5px;

            &--rejoin {
                background-color: #6262ff;
                color: white;
            }

            .accumulated-score {
                font-size: 0.7rem;
            }
        }

        .sticky-header {
            position: sticky;
            top: 0;
            z-index: 1;
        }

        .sticky-round-number {
            position: sticky;
            left: 0;
        }

        .sticky-footer {
            position: sticky;
            bottom: 0;
        }

        .highlight-cell {
            background-color: azure;
        }
    }
}
