<div class="content">
  <div class="close-button" (click)="closeEnterScore()"></div>

  <div class="round-container">
    <h1 data-cy-test-id="round-number">Ronda {{roundNumber}}</h1>

    <div class="players-animation-container" [@animatePlayer]="currentPlayerIndex">
      <ng-container *ngFor="let player of players; let i = index" class="players-animation-container">
        <div *ngIf="i === currentPlayerIndex" class="player">
          <div>Puntuación para</div>

          <div><strong class="player-name" data-cy-test-id="player-name">{{player.name}}</strong></div>

          <span class="score-display" data-cy-test-id="player-score">{{player.punctuation}}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="keyboard" (click)="onClickKeyboard($event)">
    <button class="previous-player" [disabled]="currentPlayerIndex === 0" data-cy-test-id="bt-prev-player">
      ←
    </button>
    <button class="next-player" data-cy-test-id="bt-next-player">
      <ng-container *ngIf="currentPlayerIndex < players.length - 1">→</ng-container>
      <ng-container *ngIf="currentPlayerIndex === players.length - 1">✔️</ng-container>
    </button>

    <button class="score--10" data-cy-test-id="bt--10">-10</button>
    <button class="score-10" data-cy-test-id="bt-10">10</button>
    <button class="score-20" data-cy-test-id="bt-20">20</button>

    <button class="score--20" data-cy-test-id="bt--20">-20</button>
    <button class="score-30" data-cy-test-id="bt-30">30</button>
    <button class="score-40" data-cy-test-id="bt-40">40</button>

    <button class="score--30" data-cy-test-id="bt--30">-30</button>
    <button class="score-50" data-cy-test-id="bt-50">50</button>
    <button class="score-60" data-cy-test-id="bt-60">60</button>

    <button class="subtract-10" data-cy-test-id="bt-substract-10">
      <span>restar</span>
      <span>10</span>
    </button>
    <button class="score-5" data-cy-test-id="bt-5">5</button>
    <button class="add-10" data-cy-test-id="bt-add-10">
      <span>sumar</span>
      <span>10</span>
    </button>
  </div>
</div>