@import "../../shared/enter-score/enter-score-base";
@import "../../styles/colors";

.content {
  .keyboard {
    button {
      border: 2px solid black;
      font-size: 1.6rem;
    }

    .previous-player,
    .next-player {
      border: 3px solid $color-orange;
      background-color: $color-primary-button-text;
    }

    .subtract-10,
    .add-10 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
    }

    .subtract-10 {
      background-color: #ffbcbc;
      color: #b90000;
    }
    .add-10 {
      background-color: #cbfbcb;
      color: green;
    }
    .score-5 {
      background-color: #f0fff0;
    }
    .score--10 {
      background-color: #ffc3c3;
    }
    .score--20 {
      background-color: #ff8787;
    }
    .score--30 {
      background-color: #ff4b4b;
    }
    .score-10 {
      background-color: #e1ffe1;
    }
    .score-20 {
      background-color: #c3ffc3;
    }
    .score-30 {
      background-color: #a5ffa5;
    }
    .score-40 {
      background-color: #87ff87;
    }
    .score-50 {
      background-color: #69ff69;
    }
    .score-60 {
      background-color: #4bff4b;
    }
  }
}
