<div class="position" data-test-id="position">
  <div class="number">{{playerPosition}}</div>
  @if (playerPosition === 1) {
    <div>🥇</div>
  }
  @if (playerPosition === 2) {
    <div>🥈</div>
  }
  @if (playerPosition === 3) {
    <div>🥉</div>
  }
</div>

<div class="data">
  <div class="name-score-container" data-test-id="player-name-and-total-score">
    <span>{{gameService.getPlayerName(playerId)}}</span>
    <span>{{gameService.getTotalScore(playerId)}}</span>
  </div>

  <div class="player-rounds-info">
    <div data-test-id="score-last-round">
      Última ronda:
      <strong (click)="navigateToSetNewScore()">{{gameService.getScoreLastRound(playerId)}}</strong>
    </div>

    @if (gameService.hasFlagActive('ranking:playerDisplay:maximumReachedScore')) {
      <div data-test-id="maximum-reached-score">
        Máximo alcanzado: {{gameService.getMaximumReachedScore(playerId)}}
      </div>
    }

    @if (gameService.hasFlagActive('ranking:playerDisplay:numberOfRejoins')) {
      <div data-test-id="number-of-rejoins">
        Reenganches: {{gameService.getNumberOfRejoins(playerId)}}
      </div>
    }
  </div>
</div>