@use "../../../styles/colors";

:host {
    display: flex;
    gap: 15px;
    background-image: linear-gradient(to right, rgb(204, 209, 255), rgb(231, 234, 255));
    border: 4px solid colors.$color-orange;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.7em;
}

.position {
    display: flex;
    flex-direction: column;
    align-items: center;

    .number {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: rgb(231, 234, 255);
        margin-bottom: -7px;
    }
}

.data {
    flex-grow: 1;

    .name-score-container {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    .player-rounds-info {
        margin-top: 5px;
        font-size: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 3px;

        strong {
            cursor: pointer;
        }
    }
}

/****************** POSITION STYLES ******************/

:host-context(.position-1) {
    background-image: linear-gradient(to right, #ffe418, #fbf0a0);
    border-color: #ffff00;

    .position .number {
        background-color: #fbf0a0;
    }
}

:host-context(.position-2) {
    background-image: linear-gradient(to right, #ababab, #d3d3d3);
    border-color: #808080;

    .position .number {
        background-color: #d3d3d3;
    }
}

:host-context(.position-3) {
    background-image: linear-gradient(to right, #e0b661, #ffd072);
    border-color: #d29f2e;

    .position .number {
        background-color: #ffd072;
    }
}
