<app-round-info></app-round-info>

<div class="empty-state" *ngIf="!gameHolderService.service.gameHasStarted()">
  Introduce al menos una ronda para mostrar las estadísticas
</div>

<div class="statistics" *ngIf="gameHolderService.service.gameHasStarted()">
  <app-progress-graph *ngIf="gameHolderService.service.showProgressGraph"></app-progress-graph>

  <div class="item">
    <label>Jugadores en primera posición:</label>
    <strong>{{getPlayersInFirstPosition()}}</strong>
  </div>

  <div class="item">
    <label>Jugadores en última posición:</label>
    <strong>{{getPlayersInLastPosition()}}</strong>
  </div>

  <div class="item">
    <label>Máximo conseguido en una ronda:</label>
    <strong>{{getMaximumScoreInOneRound()}} por {{getPlayerNamesWithMaximumScoreInOneRound()}}</strong>
  </div>

  <div class="item">
    <label>Mínimo conseguido en una ronda:</label>
    <strong>{{getMinimumScoreInOneRound()}} por {{getPlayerNamesWithMinimumScoreInOneRound()}}</strong>
  </div>

  <div class="item">
    <label>Tiempo de juego:</label>
    <strong>{{playedTime}}</strong>
  </div>
</div>

<app-bottom-controls></app-bottom-controls>