<app-round-info></app-round-info>

<div class="empty-state" *ngIf="!gameService.gameHasStarted()">
  Introduce al menos una ronda para mostrar las estadísticas
</div>

<div class="statistics" *ngIf="gameService.gameHasStarted()">
  <app-progress-graph *ngIf="gameService.hasFlagActive('statistics:progressGraph')"></app-progress-graph>

  <div class="item">
    <label>Jugadores en primera posición:</label>
    <strong data-test-id="players-in-first-position">{{gameService.getPlayersInFirstPosition()}}</strong>
  </div>

  <div class="item">
    <label>Jugadores en última posición:</label>
    <strong data-test-id="players-in-last-position">{{gameService.getPlayersInLastPosition()}}</strong>
  </div>

  <div class="item">
    <label>Máximo conseguido en una ronda:</label>
    <strong data-test-id="players-maximum-score-in-one-round">
      {{gameService.getMaximumScoreInOneRound()}} por {{gameService.getPlayerNamesWithMaximumScoreInOneRound()}}
    </strong>
  </div>

  <div class="item">
    <label>Mínimo conseguido en una ronda:</label>
    <strong data-test-id="players-minimum-score-in-one-round">
      {{gameService.getMinimumScoreInOneRound()}} por {{gameService.getPlayerNamesWithMinimumScoreInOneRound()}}
    </strong>
  </div>

  <div class="item">
    <label>Tiempo de juego:</label>
    <strong data-test-id="played-time">{{playedTime}}</strong>
  </div>
</div>

<app-bottom-controls></app-bottom-controls>