@use "../../styles/colors";

:host {
    display: flex;
    justify-content: space-around;
    position: relative;

    // global style
    .app-button {
        padding: 5px 9px;
    }
}

.view-list {
    position: absolute;
    bottom: calc(100% + 12px);
    text-align: center;
    background-color: white;
    border: 2px solid colors.$color-orange;
    border-radius: 5px;
    box-shadow: 0 0 3px colors.$color-orange, 0 0 15px black;
    padding: 15px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 9;

    a {
        text-decoration: none;
        color: black;
    }

    &::after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: rotate(45deg) translateX(-50%);
        background-color: white;
        border-bottom: 2px solid colors.$color-orange;
        border-right: 2px solid colors.$color-orange;
    }
}
