<button class="app-button" data-cy-test-id="bt-new-game" (click)="goToGameConfigView()">Juego nuevo</button>
<button class="app-button" data-cy-test-id="bt-change-view" (click)="showViewNavigation = !showViewNavigation">
  Cambiar vista
</button>
<button class="app-button" data-cy-test-id="bt-new-round" (click)="enterNewRound()">Nueva ronda</button>

<div class="view-list" *ngIf="showViewNavigation" (click)="showViewNavigation = false">
  <a [routerLink]="['../', ROUTING_PATHS.RANKING]" data-cy-test-id="view-ranking">🥇 Ranking</a>
  <a [routerLink]="['../', ROUTING_PATHS.SCOREBOARD]" data-cy-test-id="view-scoreboard">📋 Tabla</a>
  <a [routerLink]="['../', ROUTING_PATHS.STATISTICS]" data-cy-test-id="view-statistics">📊 Estadísticas</a>
</div>