<button class="app-button" data-test-id="btn-new-game" (click)="goToGameConfigView()">
  Juego nuevo
</button>

@if (gameService.hasFlagActive('bottomControls:changeViews')) {
  <button class="app-button" data-test-id="btn-change-view" (click)="showViewNavigation = !showViewNavigation">
    Cambiar vista
  </button>
}

@if (gameService.hasFlagActive('bottomControls:newRound')) {
  <button class="app-button" data-test-id="btn-new-round" (click)="enterNewRound()">
    Nueva ronda
  </button>
}

@if (showViewNavigation && gameService.hasFlagActive('bottomControls:changeViews')) {
  <div class="view-list" data-test-id="change-view-pop-up" (click)="showViewNavigation = false">
    @for (view of gameService.changeViews; track view) {
      <a [routerLink]="['../', view.path]">
        {{view.display}}
      </a>
    }
  </div>
}